<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Most performant web app</title>
    <script src="../bower_components/angular/angular.js" type="text/javascript"></script>
    <script src="scripts/lib/Fes.min.js" type="text/javascript"></script>
    <script src="scripts/honeydew.js" type="text/javascript"></script>
    <script src="scripts/directives/fes-bind.js" type="text/javascript"></script>
    <script src="scripts/directives/fes-bind-repeat-recursive.js" type="text/javascript"></script>
    <script src="scripts/controllers/CheckedController.js"></script>

</head>
<body ng-app="honeydew" ng-controller="CheckController">

CREDIT: <input fes-bind="CREDIT"/><br/>
BALANCE: <input fes-bind="BALANCE"/><br/>
BALANCE: <input fes-bind="DEBT"/><br/>

<ul>
    <li ng-repeat="data in BALANCE" fes-bind-repeat-recursive="template">
        <input fes-bind="{{data.name}}"/>
        <ul>
            <li ng-repeat="data in data.children" ng-include="'template'"></li>
        </ul>
    </li>
</ul>

</body>
</html>